<script type="text/javascript">
	var current_uri = '{$current_uri}';
	var mod_url = '{$mod_url}';
	var use_ajax = '{$use_ajax|default:FALSE}';
</script>

<div id="addbox"></div>
<div id="editbox"></div>

<ul class="breadcrumb">
	<li>all entries</li>
</ul>
 
{$topbar}


<div class="index_filter_cont" >
	<div class="index_search_cont" >
		<form name="frmSearch" action="{$mod_url}search" method="post">
			<a href="{$mod_url}add/"  class="add"  >+ add new entry</a> &nbsp;&nbsp;&nbsp;
			<input type="hidden" name="pagelimit" value="{$pagelimit}" />
			<input type="hidden" name="offset" value="{$offset}" />
			<input type="hidden" name="orderby" value="{$orderby}" />
			<input type="hidden" name="ascdesc" value="{$ascdesc}" />
			<input type="hidden" name="page" value="{$mod_url}index/" />
			Search : <input type="text" name="searchkey" value="{$searchkey}"> <input class="btn small" type="submit" value="Find">
		</form>
	</div>
</div>


{if !$maindata}
	<div class="red">
		data not found
	</div>
{else}

	{$paging}
	{$paging_js}

	<table class="table table-striped" id="mainData" width="100%">
	<thead>
		<tr>
			<th width="10" ><a href="javascript:doSort('nlrec_id');">id</a></th>
			<th><a href="javascript:doSort('nlrec_email');">Email</a></th>
			<th width="120"><a href="javascript:doSort('nlrec_entry');">Join Date</a></th>
			<th width="80"></th>
		</tr>
	</thead>

	<tbody>
		{foreach from=$maindata item=m name=m key=mk}
		<tr>
			<td>{$m.nlrec_id}</td>
			<td>
				{$m.nlrec_email}
			</td>
			<td>{$m.nlrec_entry}</td>
			<td>
				<a href="{$mod_url}subscribe/{$m.nlrec_id}" class="btn btn-info small"  >Subscribe</a>
			</td>
			<!--<td >
				<div class="btn-group">
				{if $m.nlrec_status == 'Active' }
					<a href="{$mod_url}edit/{$m.nlrec_id}" class="btn btn-info"  ><i class="icon-edit"></i></a>
					<a href="{$mod_url}delete/{$m.nlrec_id}" class="btn areyousure" ><i class="icon-trash"></i></a>
				{else}
					<a href="{$mod_url}change_status/{$m.nlrec_id}/Active"><i class="icon-refresh"></i></a>
				{/if}
				</div>
			</td>-->

		</tr>
		{/foreach}
	</tbody>
	</table>

{/if}
