<fieldset>
<legend>User Action History</legend>
<h3>{$fromuntil}</h3>

<div class="date_selector">
<form name="frmChangeDate" action="{site_url}user_action_history/condition_change" method="post">
<input type="hidden" name="page" value="user_action_history/index">
<table cellpadding="0" cellspacing="0" border="0" class="collapse">
<tr><th colspan="2">Filter by Date</th></tr>
<tr><th width="150">From</th><td>{html_select_date start_year=2008 time=$from prefix="from"}</td></tr>
<tr><th>Until</th><td>{html_select_date start_year=2008 time=$until prefix="until"}</td></tr>
<tr><th>Type</th><td><select name=action>
	{html_options options=$action selected=$action_sel}
</select>
</td></tr>
<tr>
	<th>Predefined Filter</th>
	<td>
		<!--input type="submit" name="type" value="Show All"-->
		<input class="button_plain2" type="submit" name="type" value="Last Month">
		<input class="button_plain2" type="submit" name="type" value="Today">
		<input class="button_plain2" type="submit" name="type" value="This Month">
		<!--input type="submit" name="type" value="This Year"-->
	</td>
</tr>
<tr><th>&nbsp;</th><td><input class="button_plain2" type="submit" name="type" value="Filter by Date"></td></tr>
</table>
</form>
</div>
</fieldset>
<br />

<div class="reportBody">
	<table cellpadding="0" cellspacing="0" border="0" class="collapse">
	<tr><th colspan="8">User action history</th></tr>
	<tr>
		<th>User</th>
		<th>User Action</th>
		<th>Param 1</th>
		<th>Param 2</th>
		<th>Param 3</th>
		<th>Success</th>
		<th>Time</th>
		<th>IP Address</th>
	</tr>
	{foreach from=$uah item=uah name=uah_loop}
	<tr>
		<td>{$uah.u_name}</td>
		<td>{$uah.ua_name}</td>
		<td><strong>{$uah.ua_param_label_1}</strong><br>{$uah.uah_param_1}</td>
		<td><strong>{$uah.ua_param_label_2}</strong><br>{$uah.uah_param_2}</td>
		<td><strong>{$uah.ua_param_label_3}</strong><br>{$uah.uah_param_3}</td>
		<td>{$uah.uah_success}</td>
		<td>{$uah.uah_time}</td>
		<td>{$uah.uah_ip}</td>
	</tr>
	{/foreach}
	</table>
</div>
