{literal}
<script>
	function doSave(savekey){
		document.formSubmit.save_status.value = savekey;
		document.formSubmit.submit();
	}
</script>
{/literal}

	<ul class="nav nav-tabs">
		{foreach from=$category item=c}
			<li class="{if $c.c_cat == $c_cat}active{/if}"><a href="{$mod_url}index/{$c.c_cat|default:'untitled'}">{$c.c_cat|default:'untitled'}</a></li>
		{/foreach}
	</ul>

	<div class="error">
		{''|validation_errors}
	</div>

	<form enctype="multipart/form-data" method="post" class="form-horizontal">

		<fieldset>
			{foreach from=$config_data name=m item=m key=mk}
				<div class="control-group">
					<label class="control-label">{$m.c_key}</label>
					<div class="controls">
						{if $m.c_valuetype == 'image'}
							{if $m.c_value}
								<a href="{site_url}userfiles/config/{$m.c_value}" class="colorbox" >
									<img class="thumb" src="{site_url}userfiles/config/thumb/{$m.c_value}" width="30" height="30" />
									<!--<i class="icon-picture"></i>-->
								</a>
							{else}
								<span class="red">no image</span>
							{/if}
							<input type="file" name="{$m.c_key}" >
								<br>
							<input type="checkbox" name="{$m.c_key}_remove" > remove
							<input type="hidden" name="{$m.c_key}_default"  value="{$m.c_value}" />
							<input type="hidden" name="c_image_key[]" class="span12" value="{$m.c_key}" />
						{else}
							{if $m.c_editable == 'yes'}
								<input type="text" name="c_text_value[]" style="width:90%" value="{$m.c_value}" />
							{else}
								{$m.c_value|default:'-'}
							{/if}
							<input type="hidden" name="c_text_key[]"  value="{$m.c_key}" />
						{/if}

						{if $m.c_helptext}
							<div class="help-block" style="margin:5px;">{$m.c_helptext}</div>
						{/if}

					</div>
				</div>
			{/foreach}
		</fieldset>

		<div class="form-actions" align="right">
			<input type="hidden" name="c_cat" value="{$c_cat}" />
			<input type="submit" value="Save"  class="btn btn-primary" />
		</div>

	</form>
