<style>
	.header {
	}
	.footer {
		padding:10px;
	}
	body {
		font-family: verdana;
		font-size: 11px;
	}
</style>

<html>
	<body style="margin:0px;" >
		<div align="center">
			<div class="wrapper" style="width:600px; text-align: left;" >
				<div class="container" style="display: block;  ">
					<div style="height: 10px; background: #333333;"></div>

					<div class="header" style="padding:10px;" >
						{$newsletter_header}
					</div>

					<div class="contentbody" style="padding:10px; background: #F7F4F4;" >
						{$content}
					</div>

					<div class="row mainpromo" >
						{$newsletter_footer} 
						<div style="clear: both; height: 1px;"></div>
					</div>

					<div class="footer">
						&nbsp;
					</div>

				</div>
			</div>
		</div>
	</body>
</html>
