<style>
	.header {
	}
	.footer {
		background: #000000;
		padding:10px;
	}
	body {
		font-family: verdana;
		font-size: 11px;
	}
</style>

<html>
	<body style="margin:0px;" >
		<div class="wrapper" style="width:600px;" >
			<div class="container" style="display: block;  ">

				<div class="header" style="background: #000000; padding:10px;" >
					<img src="http://beta.gudangbrands.com/asset/img/gb/gb_logo.png" >
				</div>

				<div class="contentbody" style="padding:10px; background: #F7F4F4;" >
					{$content}
				</div>

				<div class="row mainpromo" style="background: #000000;">
					<div class="span4" style="float:left;" >
						<img src="http://beta.gudangbrands.com/asset/img/gb/mainpromo_invite.jpg" width="200" >
					</div>
					<div class="span4" style="float:left;" >
						<img src="http://beta.gudangbrands.com/asset/img/gb/mainpromo_freevoucher.jpg" width="200" >
					</div>
					<div class="span4" style="float:left;" >
						<img src="http://beta.gudangbrands.com/asset/img/gb/mainpromo_getconnected.jpg" width="200" >
					</div>
					<div style="clear: both; height: 1px;"></div>
				</div>

				<div class="footer">
					&nbsp;
				</div>

			</div>
		</div>
	</body>
</html>






