<div class="page_title">Welcome to our news</div>

        <div class="left23">

        	<div class="post">

                 <h2><a href="#">There's nothing more complex than pure simplicity</a></h2>
                 <div class="post_left">
                     <div class="date_line_blog">
                        <span class="day">05</span>
                        <span class="month">10</span>
                     </div>
                     <div class="comm_line_blog"></div>
        </div>

                 <img src="images/image_post.jpg" alt="" title="" border="0" />
                 <div class="entry">
                    <p>
                    Nemo enim ipsam voluptatem <strong>quia voluptas</strong> sit aspernatur aut odit aut fugit, <a href="#">sed quia consequuntur</a> magni dolores eos qui ratione voluptatem sequi nesciunt. <br />Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    </p>
                 </div>
                 <span class="blog_cat"> by <a href="#">author</a></span>
                 <a href="news2.html" class="read_more">read more</a>

        	 </div>

        	<div class="post">

                 <h2><a href="#blog-single.html">Sed ut perspiciatis unde omnis iste natus</a></h2>
                 <div class="post_left">
                     <div class="date_line_blog">
                        <span class="day">12</span>
                        <span class="month">07</span>
                     </div>
                     <div class="comm_line_blog"></div>
                 </div>

                 <img src="images/image_post2.jpg" alt="" title="" border="0" />
                 <div class="entry">
                    <p>
                    Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit,</strong> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br /> Ut enim ad minim veniam, quis nostrud <a href="#">exercitation ullamco laboris</a> nisi ut aliquip ex ea commodo <strong>consequat ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    </p>
                 </div>
                 <span class="blog_cat"> by <a href="#">author</a></span>
                 <a href="news2.html" class="read_more">read more</a>

        	 </div>

            <div class="navigation">
                <a href="#" class="blog_next">next posts &gt;</a>
                <a href="#" class="blog_prev">&lt; previous posts</a>
            </div>

        </div>



   		<div class="left13 sidebar">


            <h2>Testimonial</h2>
            <div class="sidebar_testimonial">
            <p> <em>&rdquo;Very good organization, all perfect! Great opportunity to network and gather valuable insights in the industry&rdquo;</em></p>
            <p><strong>FABRIZIO CARUZO. - Vice President Business Development, Out There Media Asia-Pacific, Middle East, and North Africa</strong>  </p>
          </div>

            <h2>APMF Gallery</h2>
            <div class="flickr_photos">
            <ul id="basicuse" class="thumbs">
        <li >
        <a href="images/lightbox.jpg" rel="prettyPhoto[gallery]" title="APMF2010"><img src="images/flickr01.jpg" alt="" title="" border="0" /></a>
        </li>

        <li>
            <a href="images/lightbox.jpg" rel="prettyPhoto[gallery]" title="APMF2008"><img src="images/flickr02.jpg" alt="" title="" border="0" /></a>
        </li>

        <li>
            <a href="images/lightbox.jpg" rel="prettyPhoto[gallery]" title="Lorem ipsum sit amet"><img src="images/flickr03.jpg" alt="" title="" border="0" />
            </a>
        </li>


        <li>
            <a href="images/lightbox.jpg" rel="prettyPhoto[gallery]" title="Lorem ipsum sit amet"><img src="images/flickr04.jpg" alt="" title="" border="0" /></a>
        </li>

    </ul>
            </div>
