{$account_topbar}

<div class="row main_account" style="margin-top: 10px;" >
	<div class="span3">
		{$account_sidebar}
	</div>
	<div class="span9">


		<!--<div class="index_filter_cont" >-->
		<!--	<div class="index_search_cont" >-->
		<!--		<form name="frmSearch" action="{$mod_url}search" method="post"> -->
		<!--			<input type="hidden" name="pagelimit" value="{$pagelimit}" />-->
		<!--			<input type="hidden" name="offset" value="{$offset}" />-->
		<!--			<input type="hidden" name="orderby" value="{$orderby}" />-->
		<!--			<input type="hidden" name="ascdesc" value="{$ascdesc}" />-->
		<!--			<input type="hidden" name="page" value="{$mod_url}index/" />-->
		<!--			Search : <input type="text" name="searchkey" value="{$searchkey}"> <input class="btn small" type="submit" value="Find">-->
		<!--		</form>-->
		<!--	</div>-->
		<!--</div>-->

		{if !$maindata}
			<div class="alert-message block-message error">data not found</div>
		{else}
			{$paging}
			{$paging_js}
			<table class="table table-striped">
				<thead>
				  <tr>
					<th width="80">Trans.ID</th>
					<th>Date</th>
					<th>Method</th>
					<th>Amount</th>
					<th>Payment Status</th>
					<th width="65"></th>
				  </tr>
				</thead>
				<tbody>
					{foreach from=$maindata name=m item=m key=mk}
						<tr>
							<td>{$m.trans_id}</td>
							<td>{$m.trans_entry}</td>
							<td>{$m.trans_payment_method}</td>
							<td>Rp. {$m.trans_payout|price_format},-</td>
							<td><span class="{$m.trans_payment_status}">{$m.trans_payment_status}</span></td>

							<td style="text-align:center;" >
								<a href="{$mod_url}edit/{$m.p_id}" class="btnimg edit" ></a>
								<a href="{$mod_url}delete/{$m.p_id}" class="btnimg delete areyousure" ></a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
		{/if}



	</div>
</div>











<!--<textarea name="c_content" class="ckeditor" >123</textarea>-->

</div>
