{$account_topbar}


<div class="row main_account" style="margin-top: 10px;" >
	<div class="span3">
		{$account_sidebar}
	</div>
	<div class="span9">
		<h2 class="mod_title">Change Password</h2>


		{''|validation_errors}
		<div class="spacer10"></div>

		<form name="formSubmit" id="formSubmit" action="" method="post" class="form-horizontal">
				<fieldset>
					{if $data.m_pass != ''}
					<div class="control-group">
						<label class="control-label" for="old_password">Old Password</label>
						<div class="controls">
							<input type="password" id="old_password" name="old_password" value="" >
						</div>
					</div>
					{/if}

					<div class="control-group">
						<label class="control-label" for="password">New Password</label>
						<div class="controls">
							<input type="password" id="password" name="password" value="" >
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="password_confirmation">Confirm New Password</label>
						<div class="controls">
							<input type="password" id="password_confirmation" name="password_confirmation" value="">
						</div>
					</div>

					<div class="control-group">
						<div class="controls">
							<input type="submit" class="btn btn_submit" value="Submit">
						</div>
					</div>



				</fieldset>
			</form>

	</div>
</div>
