<script src="{asset_url}js/vizard/master.js"></script>

<ul class="breadcrumb">
	<li><a href="{$LAST_LIST}">back</a></li>
	<li class="divider">»</li>
	<li>add new</li>
</ul>

{''|validation_errors}

<form enctype="multipart/form-data" name="formSubmit" id="formSubmit"  method="post" class="" >

	<div class="use_right_sidebar">

		<div class="inner_sidebar" >
			
			{foreach from=$available_position name=ap item=ap key=apk}
				<fieldset class="group" style="">
					<legend>{$ap.name}</legend>
					<div class="inline-help">
						<div >
							<div id="selected_media_{$ap.pos}" >
								<div id="dialog_media_{$ap.pos}"></div>
								<div id="target_media_{$ap.pos}">
									<div id="data"></div>
									<input id="m_id" type="hidden" name="m_id[]" value="" />
									<input id="mr_pos" type="hidden" name="mr_pos[]" value="{$ap.pos}" />
								</div>

							</div>
							<div class="spacer10 clear"></div>
							<a href="{site_url}admin/media/ajax_upload/{$mod}" class="dview" title="Media" rel="dialog=#dialog_media_{$ap.pos};target=#target_media_{$ap.pos};width=600;height=500;" >select media</a>
						</div>

					</div>
					<!--<img class="thumb" src="{asset_url}img/tw.jpg" />-->
				</fieldset>
			{/foreach}


		<!--	<fieldset class="group">-->
		<!---->
		<!--		<table cellspacing="0" cellpadding="0" width="100%" class="collapse form">-->
		<!--			<tr>-->
		<!--				<th width="80" >author</th>-->
		<!--				<td>{$userinfo.u_name}</td>-->
		<!--			</tr>-->
		<!--		</table>-->
		<!---->
		<!--		<div class="spacer10 clear"></div>-->
		<!--	</fieldset>-->
		</div>

		<div class="inner_content">
			<div class="clearfix">
				<label>Parent</label>
				<div class="input">
					<select name="cl_parent_id" style="width:100%;">
						<option value="0" >- none -</option>
						{foreach from=$all_parent name=ap item=ap key=apk}
							<option value="{$ap.cl_id}" >{$ap.cl_name}</option>
						{/foreach}
					</select>
				</div>
			</div>

			<div class="clearfix">
				<label>Label Name</label>
				<div class="input">
					<input type="text" name="cl_name" style="width:100%;" value="{'cl_name'|set_value}" >
				</div>
			</div>

		</div>
	</div>

	<div class="actions" align="right" >
		<a href="{$LAST_LIST}">
			<button class="btn do_cancel">Cancel</button>
		</a>
		<input class="btn primary" name="add" type="submit" value="Save" />
	</div>

</form>
