<html>
	<body>
		<style>
			table td { border-right: solid 1px #dddddd; }
		</style>
		<table cellspacing="0" cellpadding="0" style="border: solid 1px #dddddd;" >
			<tr>
				<td style="border-right: solid 1px #dddddd; border-bottom: solid 1px #dddddd;" >test 1</td>
				<td style="border-right: solid 1px #dddddd; border-bottom: solid 1px #dddddd;" >test 1</td>
				<td style="border-right: solid 1px #dddddd; border-bottom: solid 1px #dddddd;" >test 1</td>
				<td style="border-right: solid 1px #dddddd; border-bottom: solid 1px #dddddd;" >test 1</td>
				<td style="border-right: solid 1px #dddddd; border-bottom: solid 1px #dddddd;" >test 1</td>
				<td style="border-right: solid 1px #dddddd; border-bottom: solid 1px #dddddd;" >test 1</td>
				<td style="border-right: solid 1px #dddddd; border-bottom: solid 1px #dddddd;" >test 1</td>
				<td style="border-right: solid 1px #dddddd; border-bottom: solid 1px #dddddd;" >test 1</td>
				<td style="border-right: solid 1px #dddddd; border-bottom: solid 1px #dddddd;" >test 1</td>
				<td>test 1</td>
			</tr>
			<tr>
				<td>test 1</td>
				<td>test 1</td>
				<td>test 1</td>
				<td>test 1</td>
				<td>test 1</td>
				<td>test 1</td>
				<td>test 1</td>
				<td>test 1</td>
				<td>test 1</td>
				<td>test 1</td>
			</tr>
		</table>

		<img src="http://upload.wikimedia.org/wikipedia/en/thumb/e/e0/Iron_Man_bleeding_edge.jpg/250px-Iron_Man_bleeding_edge.jpg">
	</body>
</html>
