<div style=" ">
	<div style="">

		<div style="background: #ffffff; display: block;  padding: 15px 10px;">
			<img src="{$remote_asset_url}img/gb/gb_logo1.png" >
		</div>

		<div style="padding:20px; ">


			<div style="padding:10px 0px;  " >
				Hi {$voucher.m_firstname},
				<br>
				You received a Voucher !
			</div>
			  
			<div>
				<table>
					<tr>
						<td style="vertical-align: top; text-align: right; background: #dddddd; padding:5px; width: 130px;">
							Voucher Code : 
						</td>
						<td style="padding:5px;" >
							<strong style="font-size: 14px;">{$voucher.v_code}</strong>
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top; text-align: right; background: #dddddd; padding:5px; width: 130px;">
							Nominal : 
						</td>
						<td style="padding:5px;" >
							Rp. {$voucher.v_nominal|price_format},-
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top; text-align: right;  background: #dddddd; padding:5px; width: 130px;">
							Active Date : 
						</td>
						<td style="padding:5px;" >
							{$voucher.v_start_date|date_format:'d F Y'}
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top; text-align: right;  background: #dddddd; padding:5px; width: 130px;">
							Valid Until : 
						</td>
						<td style="padding:5px;" >
							{$voucher.v_end_date|date_format:'d F Y'}
						</td>
					</tr>
				</table>
			</div>

			<br>
			<div  >
				You can redeem your voucher when checking out your transaction
			</div>
			<br>

			<div style="margin-top:30px;" >
				Happy Shopping,
				<br>
				Gudang Brands Team
				<br>
				<a href="{site_url}">http://www.gudangbrands.com</a>
				
			</div>
		</div>

	</div>
</div>
