<script type="text/javascript">
	var current_uri = '{$current_uri}';
	var mod_url = '{$mod_url}';
	var use_ajax = '{$use_ajax|default:FALSE}';
	var setting = {
		width: 600,
		height: 300,
		handle_after_edit_load: function() {},
		handle_after_add: function() {}
	};
</script>

<script src="{asset_url}js/vizard/slave.js" ></script>

<script type="text/javascript">
</script>


<ul class="breadcrumb">
	<li><a href="{$LAST_LIST}">back</a></li>
	<li class="divider">»</li>
	<li>{$role.ur_name}</li>
</ul>

<form enctype="multipart/form-data" name="formSubmit" id="formSubmit"  method="post"  >
	<input type="hidden" name="current_id" value="{$role.ur_id}" />
	<input type="hidden" name="ajax_action" value="{$ajax_action}" />

	<div class="use_right_sidebar">


		<div class="inner_content">
			<div class="clearfix">
				<label>Role Name</label>
				<div class="input">
					<input type="text" name="ur_name" class="span7" value="{'ur_name'|set_value|default:$role.ur_name}" />
					{'ur_name'|form_error}
				</div>
			</div>

		</div>

	<div class="actions" align="right">
		<a href="{$LAST_LIST}">
			<button class="btn do_cancel">Cancel</button>
		</a>
		<input class="btn primary submit" name="edit" type="submit" value="Save" />
	</div>

</form>
