<div style=" ">
	<div style="">

		<div style="background: #ffffff; display: block;  padding: 15px 10px;">
			<img src="{$remote_asset_url}img/gb/gb_logo1.png" >
		</div>

		<div style="padding:20px; ">
			<h3>You have bought</h3>

			<div style="padding:10px;" >

				<table  style="border:solid 1px #cccccc;"  >
					<tr>
						<td style="text-align: right; padding:5px; border-bottom: solid 1px #dddddd; vertical-align: top; " >Product</td>
						<td style="text-align: right; padding:5px; border-bottom: solid 1px #dddddd; vertical-align: top; " >Qty</td>
						<td style="text-align: right; padding:5px; border-bottom: solid 1px #dddddd; vertical-align: top; " >Price</td>
						<td style="text-align: right; padding:5px; border-bottom: solid 1px #dddddd; vertical-align: top; " >Subtotal</td>
					</tr>

					{foreach from=$transaction_detail name=td item=td}
						<tr>
							<td style="text-align: right; padding:5px; vertical-align: top; " >
								{$td.p_name} [{$td.p_code}]
								<br>
								<i>{$td.br_name}</i>
								<br>
								<i>size: {$td.size}</i>
							</td>
							<td style="text-align: right; padding:5px; vertical-align: top; " >
								{$td.transd_quantity}
							</td>
							<td style="text-align: right; padding:5px; vertical-align: top; " >
								Rp. {$td.transd_price|price_format}
							</td>
							<td style="text-align: right; padding:5px; vertical-align: top; " >
								Rp. {$td.transd_subtotal|price_format}
							</td>
						</tr>
					{/foreach}

					

					<tr>
						<td colspan="3" style="text-align: right; padding:5px; ">
							Subtotal
						</td>
						<td style="text-align: right; padding:5px; vertical-align: top; " >
							Rp. {$transaction.trans_cart_total|price_format}
						</td>
					</tr>
					
					{if $transaction.trans_v_id != 0}
						<tr>
							<td colspan="3" style="text-align: right; padding:5px; ">
								Voucher Discount
							</td>
							<td style="text-align: right; padding:5px; vertical-align: top; " >
								- Rp. {$transaction.trans_v_nominal|price_format}
							</td> 
						</tr>
					{/if}

					<tr>
						<td colspan="3" style="text-align: right; padding:5px; ">
							Shipping Cost
						</td>
						<td style="text-align: right; padding:5px; vertical-align: top; " >
							Rp. {$transaction.trans_shipping_price|price_format}
						</td>
					</tr>
					
					{if $transaction.trans_saldo_used != 0}
					<tr>
						<td colspan="3" style="text-align: right; padding:5px; ">
							Saldo
						</td>
						<td style="text-align: right; padding:5px; vertical-align: top; " >
							- Rp. {$transaction.trans_saldo_used|price_format}
						</td>
					</tr>
					{/if}
					
					<tr>
						<td colspan="3" style="text-align: right; padding:5px; ">
							Kode Unik
						</td>
						<td style="text-align: right; padding:5px; vertical-align: top; " >
							Rp. {$transaction.trans_unique|price_format}
						</td>
					</tr> 

					<tr>
						<td colspan="3" style="text-align: right; padding:5px; ">
							Total
						</td>
						<td style="text-align: right; padding:5px; vertical-align: top; " >
							Rp. {$transaction.trans_payout|price_format}
						</td>
					</tr>

				</table>

			</div>

			<table>
				<tr>
					<td style="padding:5px; vertical-align: top; ">
						<h4>Shipping Address</h4>
						<table style="border:solid 1px #cccccc;width: 300px;" >
							<tr>
								<td style="text-align: right; padding:5px; vertical-align: top; width: 80px;" >
									<strong>Address</strong>
								</td>
								<td style="text-align: left; padding:5px; vertical-align: top; " >
									{$transaction.trans_shipping_address}
								</td>
							</tr>
							<tr>
								<td style="text-align: right; padding:5px; vertical-align: top; " >
									<strong>Phone</strong>
								</td>
								<td style="text-align: left; padding:5px; vertical-align: top; " >
									{$transaction.trans_shipping_phone}
								</td>
							</tr>
							<tr>
								<td style="text-align: right; padding:5px; vertical-align: top; " >
									<strong>Province</strong>
								</td>
								<td style="text-align: left; padding:5px; vertical-align: top; " >
									{$transaction.trans_shipping_province}
								</td>
							</tr>
							<tr>
								<td style="text-align: right; padding:5px; vertical-align: top; " >
									<strong>City</strong>
								</td>
								<td style="text-align: left; padding:5px; vertical-align: top; " >
									{$transaction.trans_shipping_city}
								</td>
							</tr>
							<tr>
								<td style="text-align: right; padding:5px; vertical-align: top; " >
									<strong>Zipcode</strong>
								</td>
								<td style="text-align: left; padding:5px; vertical-align: top; " >
									{$transaction.trans_shipping_zipcode}
								</td>
							</tr>
						</table>
					</td>
					<td style="padding:5px; vertical-align: top;">
						<h4>Billing Address</h4>
						<table style="border:solid 1px #cccccc; width: 300px;" >
							<tr>
								<td style="text-align: right; padding:5px; vertical-align: top; width: 80px;" >
									<strong>Address</strong>
								</td>
								<td style="text-align: left; padding:5px; vertical-align: top; " >
									{$transaction.trans_billing_address}
								</td>
							</tr>
							<tr>
								<td style="text-align: right; padding:5px; vertical-align: top; " >
									<strong>Phone</strong>
								</td>
								<td style="text-align: left; padding:5px; vertical-align: top; " >
									{$transaction.trans_billing_phone}
								</td>
							</tr>
							<tr>
								<td style="text-align: right; padding:5px; vertical-align: top; " >
									<strong>Province</strong>
								</td>
								<td style="text-align: left; padding:5px; vertical-align: top; " >
									{$transaction.trans_billing_province}
								</td>
							</tr>
							<tr>
								<td style="text-align: right; padding:5px; vertical-align: top; " >
									<strong>City</strong>
								</td>
								<td style="text-align: left; padding:5px; vertical-align: top; " >
									{$transaction.trans_billing_city}
								</td>
							</tr>
							<tr>
								<td style="text-align: right; padding:5px; vertical-align: top; " >
									<strong>Zipcode</strong>
								</td>
								<td style="text-align: left; padding:5px; vertical-align: top; " >
									{$transaction.trans_billing_zipcode}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>


			<br>
			<br>
			<div class="well" style="text-align: center;padding:10px 30px; background: #E2E0E0;">
				Silahkan lakukan pembayaran dengan melakukan transfer ke rekening berikut
				<br>
				<br>

				<table class="table" style="width: auto;  background: #ffffff; margin: 0 auto;" >
					<tr>
						{foreach from=$bank_account item=ba name=ba}
						<td class="" style="text-align: center;"  >
							<div class="inner">
							<img src="{site_url}userfiles/upload/{$ba.ba_image}" ><br>
								{$ba.ba_bank_name}, {$ba.ba_name} <br>
								No Rekening {$ba.ba_account_no} <br>
								a/n. {$ba.ba_account_holder}
							</div>
						</td>
						{/foreach}
					</tr>
				</table>
				<br>
				<br>

				Setelah melakukan pembayaran, silahkan <a href="{site_url}myaccount/transaction/confirmation_form/{$trans_id}" class="btn" >Klik Disini</a> untuk melakukan konfirmasi pembayaran anda.

			</div>

			<div style="margin-top: 20px;" >
				Thank You for Shopping with us,
				<br>
				Gudangbrands.com.
				<br>
				<a href="{site_url}">http://www.gudangbrands.com</a>
			</div>
		</div>



		<div style="background: #000000; display: none; margin-bottom: 10px; ">

			<div class="row mainpromo" style="">
				<div class="span4" style="float:left;" >
					<img src="{$remote_asset_url}img/gb/mainpromo_invite.jpg" width="200" >
				</div>
				<div class="span4" style="float:left;" >
					<img src="{$remote_asset_url}img/gb/mainpromo_freevoucher.jpg" width="200" >
				</div>
				<div class="span4" style="float:left;" >
					<img src="{$remote_asset_url}img/gb/mainpromo_getconnected.jpg" width="200" >
				</div>
				<div style="clear: both; height: 1px;"></div>
			</div>

			<div style="padding: 10px;">

			</div>

		</div>

	</div>
</div>
