<script type="text/javascript">
	var current_uri = '{$current_uri}';
	var mod_url = '{$mod_url}';
	var use_ajax = '{$use_ajax|default:FALSE}';
	var setting = {
		width:500,
		height:300
	};

	$(document).ready(function(){

	});

</script>
<script src="{asset_url}js/vizard/slave.js" ></script>


<ul class="breadcrumb">
	<li><a href="{$LAST_LIST}" class="cancel" >back</a></li>
	<li class="divider">»</li>
	<li>edit</li>
</ul>



{''|validation_errors}

<form enctype="multipart/form-data" name="formSubmit" id="formSubmit"  method="post" class="form-horizontal"  >
	<input type="hidden" name="current_id" value="{$data.ac_id}" />
	<input type="hidden" name="ajax_action" value="{$ajax_action}" />

	<div class="control-group">
		<label class="control-label">Province</label>
		<div class="controls">
			<input type="hidden" name="ap_id" value="{$data.ap_id|default:$province.ap_id}" >
			{$data.ap_name|default:$province.ap_name}
		</div>

	</div>

	<div class="control-group">
		<label class="control-label">Name</label>
		<div class="controls">
			<input type="text" name="ac_name" value="{'ac_name'|set_value|default:$data.ac_name}" >
		</div>
	</div>

	<div class="form-actions" >
		<input class="btn btn-primary submit" name="edit" type="submit" value="Save" />
		<a href="{$LAST_LIST}"><button class="btn do_cancel">Cancel</button></a>
	</div>

</form>
