 <div class="spacer10"></div>

 <div class="crumbs row">
    <div class="span7">
	{foreach from=$breadcrumb name=b item=b}
		{$b}&nbsp;<img src="{asset_url}img/gb/arrow_divider.png" />&nbsp;
	{/foreach}
    </div>
    <div class="span5">

    </div>
 </div>
 
<div class="horz_line"></div> 



<div class="row-fluid">
   <div class="span2"> 
	  {$sidebar}
   </div>
   
   <div class="span10">
	  
	  <div class="mod_title" >Buy Giftcard</div>
	  
	  <table class="table table-striped">
		 {foreach from=$products name=p item=p}
			 <tr>
				 <td width="50" >
					 {if $p.p_image1}<img src="{site_url}userfiles/product/s/{$p.p_image1}" />{/if}
				 </td>
				 <td>
					 {$p.p_name} [{$p.p_code}]
					 <br>
					 Nominal : Rp. {$p.p_giftcard_nominal|price_format},-
				 </td>
				 <td style="text-align: right;" >
					 <strong class="large">Rp. {$p.p_price|price_format},-</strong>
				 </td>
				 <td width="160" style="text-align: right;" >
					 <form action="{site_url}cart_giftcard/insert" method="post" class="form_insert_cart form-inline" >
						 <input type="hidden" name="p_id" value="{$p.p_id}">
						 <input type="hidden" name="p_type" value="{$p.p_type}">
	 
						 <select id="quantity" name="quantity" style="width: auto;" >
							 {section name=qty loop=5 step=1}
							 <option value="{$smarty.section.qty.iteration}">{$smarty.section.qty.iteration}</option>
							 {/section}
						 </select>
	 
						 <input type="submit" class="btn btn_submit" value="Add To Cart">
					 </form>
				 </td>
			 </tr>
		 {/foreach}
	  </table> 
	   
	  <style>
		 .gsc_head, .gsc_foot {
			display: inline-block; border:solid 1px #CCCCCC; padding:5px 10px; border-radius: 5px 5px 0px 0px; margin: 0px 0px -2px 10px;
			background: #FFFFFF; 
		 }
		 .gsc_head { border-bottom: none; }
		 .gsc_foot {
			border-radius: 0px 0px 5px 5px; margin: -2px 10px -1px auto; float: right; border-top: none;
		 }
	  </style>
	  <div class="gsc_head"><i class="icon-shopping-cart"></i> Giftcard Shopping Cart</div>
	  <div class="well well-small" style="background: #FFFFFF; border-color:#cccccc; margin-bottom: 0px;" >
		 <div id="mini_view_cart"></div> 
	  </div>
	  <div class="gsc_foot">
		 <a href="{site_url}checkout_giftcard/" class="btn" >Checkout Your Giftcard</a>
	  </div>
	  
	 
	 <table style="width: 100%;">
	  <tr>
		 <td>
			
		 </td>
		 <td>
			
		 </td>
	  </tr>
	 </table>
	 
	 
	 
	 
   </div>
</div>




<script>
   $(function(){
	  $.post('{site_url}cart_giftcard/mini_view_cart/', {}, function(data){
		 $('#mini_view_cart').html(data);
	  }, 'html');
   });
   
  $('.form_insert_cart').submit(function(e) {
		var formObj = $(this);
		e.preventDefault();
		if( is_loggedin == false ) {
		    window.location = site_url+"auth/validate_member/{''|current_url|safe_base64_encode}";
		} else {
		   $(formObj).ajaxSubmit({
			  success: function(data ) {
				 if (data.status == 'ok') {
					wgm_open_modal(site_url+'cart_giftcard/ajax_success/');
					load_display_cart();
					$('#size').trigger('change');
				 }
				 else { alert(data.msg); }
			  },
			  dataType: 'json'
		});
	  }
  });

</script>

<div class="spacer10"></div>
<div class="horz_line"></div>
<div class="spacer10"></div>
