
					</div>
				</div>
			</div>

			<table class="prefooter_tb" style="width: 100%;">
				<tr class="header">
					<td style="width: 152px;">THE COMPANY</td>
					<td style="width: 152px;">THE PRODUCTS</td>
					<td style="width: 152px;">THE SERVICE</td>
					<td style="width: 152px;">CONTACT US</td>
					<td style="width: 152px;">LATEST TWEETS</td>
				</tr>
				<tr class="body">
					<td>
						<ul>
							{foreach from=$footer_column_1 name=fc item=fc}
							<li><a href="{$fc.m_link}">{$fc.m_name}</a></li>
							{/foreach}
						</ul>
					</td>
					<td>
						<ul>
							{foreach from=$footer_column_2 name=fc item=fc}
							<li><a href="{$fc.m_link}">{$fc.m_name}</a></li>
							{/foreach}
						</ul>
					</td>
					<td>
						<ul>
							{foreach from=$footer_column_3 name=fc item=fc}
							<li><a href="{$fc.m_link}">{$fc.m_name}</a></li>
							{/foreach}
						</ul>
					</td>
					<td>
						<div style="margin-bottom: 10px;">
							<div class="radley" style="color: #684937; line-height: normal; margin-bottom: 1px; font-style: italic; font-weight: bold;">Email :</div>
							<div>info@verinafashion.com</div>
						</div>
						<div style="margin-bottom: 10px;">
							<div class="radley" style="color: #684937; line-height: normal; margin-bottom: 1px; font-style: italic; font-weight: bold;">Pin BB :</div>
							<div>29956544</div>
						</div>
						<div style="margin-bottom: 10px;">
							<div class="radley" style="color: #684937; line-height: normal; margin-bottom: 1px; font-style: italic; font-weight: bold;">Call Us :</div>
							<div>0812445687899</div>
						</div>
					</td>
					<td>
						&nbsp;
					</td>
				</tr>
			</table>

			<div class="row-fluid">
				<div class="footer_wrap span12" >
					<div class="footer_cont">
						Copyright &copy; 2013 Verina Fashion &nbsp;&nbsp;|&nbsp;&nbsp; All Rights Reserved &nbsp;&nbsp;|&nbsp;&nbsp; Powered by Clixiesoft &nbsp;&nbsp;|&nbsp;&nbsp; Designed by Ricks Design
					</div>
				</div>
			</div>


		</div>
	</div>
</body>
</html>
