<script type="text/javascript">
	var current_uri = '{$current_uri}';
	var mod_url = '{$mod_url}';
	var use_ajax = {$use_ajax|default:FALSE};
</script>
<script src="{asset_url}js/vizard/master.js" ></script>

<div id="addbox"></div>
<div id="editbox"></div>

<ul class="breadcrumb">
	<li>all entries</li>
</ul>


<div class="index_filter_cont" >
	<div class="index_search_cont" >
		<form name="frmSearch" action="{$mod_url}search" method="post">
			<a href="{$mod_url}add/"  class="add"  >+ add new entry</a> &nbsp;&nbsp;&nbsp;
			<input type="hidden" name="pagelimit" value="{$pagelimit}" />
			<input type="hidden" name="offset" value="{$offset}" />
			<input type="hidden" name="orderby" value="{$orderby}" />
			<input type="hidden" name="ascdesc" value="{$ascdesc}" />
			<input type="hidden" name="page" value="{$mod_url}index/" />
			Search : <input type="text" name="searchkey" value="{$searchkey}"> <input class="btn small" type="submit" value="Find">
		</form>
	</div>
</div>


{if !$maindata}
	<div class="red">
		data not found
	</div>
{else}

	{$paging}
	{$paging_js}

	<table class="table table-striped table-condensed table-bordered" id="mainData" width="100%">
	<thead>
		<tr>
			<th width="30" >id</th>
			<th >key</th>
			<th >desc</th>
			<th width="100"></th>
		</tr>
	</thead>

	<tbody>
		{foreach from=$maindata name=m item=m key=mk}
			<tr>
				<td>
					{$m.urk_id}
				</td>
				<td>
					{$m.urk_key}
				</td>
				<td>
					{$m.urk_desc}
				</td>
				<td style="text-align:center;" >
					<a href="{$mod_url}edit/{$m.urk_id}" class="edit" ><i class="icon-edit"></i>edit</a> &nbsp;
					<a href="{$mod_url}delete/{$m.urk_id}" class="delete areyousure" ><i class="icon-trash"></i>delete</a>
				</td>
			</tr>
		{/foreach}
	</tbody>
	</table>

{/if}
