<script>
	var chart1; // globally available

	var cat = new Array();
	var series = new Array();
	var count = new Array();
	{foreach from=$poll name=p item=p key=pk}
		cat[{$pk}] = '{$p.m_poll}';
		count[{$pk}] = parseInt({$p.count});
	{/foreach}



	$(document).ready(function() {
		  chart1 = new Highcharts.Chart({
			chart: {
			   renderTo: 'report_result',
			   type: 'column'
			},
			title: {
			   text: 'Polling Result'
			},
			xAxis: {
				title: {
					text: 'registration method'
				}
			   ,
			   categories: cat
			},
			yAxis: {
			   title: {
				  text: 'member registered'
			   }
			},
			series: [{
				   name: 'Polling Result',
				   data: count
			   }]
			,
			plotOptions: {
                column: {
                    dataLabels: {
                        enabled: true,
						style: {
                            fontWeight: 'bold'
                        }
                    },

                    enableMouseTracking: false
                }
            },
			legend: {
                layout: 'vertical',
                backgroundColor: '#FFFFFF',
                align: 'right',
                verticalAlign: 'top',
                x: 0,
                y: 0,
                floating: true,
                shadow: true
            }
		  });
	   });

 </script>

{$topbar}
<div id="report_result" style="width: 100%; height: 600px"></div>

