<ul class="nav nav-tabs nav-stacked">
    <li class="{if $currpage == 'site'}active{/if}" ><a href="{$mod_url}site">Site Settings</a></li>
    <li class="{if $currpage == 'elements'}active{/if}" ><a href="{$mod_url}elements">Elements</a></li>
    <li class="{if $currpage == 'ecommerce'}active{/if}" ><a href="{$mod_url}ecommerce">E-commerce</a></li>
    <li class="{if $currpage == 'email'}active{/if}" ><a href="{$mod_url}email_support">Email &amp; Support</a></li>
    <li class="{if $currpage == 'newsletter'}active{/if}" ><a href="{$mod_url}newsletter">Newsletter</a></li>
</ul>
 
