
<script>
	$(document).ready(function() {

		site_url = "{site_url}";

		$('#add_new_field').click(function() {
			$.post( '{$mod_url}add_new_field' , { dummy : 1 } , function(data) {
				$('#fields_info').append(data);
			});

			return false;
		});
	} );
</script>

<ul class="breadcrumb">
	<li>Manage Form	</li>
</ul>

<div class="error">
	{''|validation_errors}
</div>

<fieldset>
<legend>Form Management</legend>

<table class="table table-striped" id="mainData">
<thead>
<tr>
	<th>Name</th>
	<th>Destination Emails</th>
	<th>Hit</th>
	<th>Action</th>
</tr>
</thead>
<tbody>
{foreach from=$maindata item=m}
<tr>
	<td >{$m.f_name}</td>
	<td >{$m.f_destination_emails}</td>
	<td align="right">{$m.f_hit|number_format}</td>
	<td>
		<a href="{$mod_url}edit/{$m.f_id}">Edit</a> -
		<a href="{$mod_url}delete/{$m.f_id}" class="areyousure" >Delete</a>
	</td>
</tr>
{/foreach}
</tbody>
</table>
</fieldset>

<br>
<fieldset>
<legend>Add new Form</legend>
<form name="form1" method="post">
<table cellpadding="0" cellspacing="0" border="0" class="collapse form">
<tr>
	<th width="130" align="right">Name</th>
	<td><input type="text" name="f_name" value="{'f_name'|set_value}" class="span7" ></td>
</tr>
<tr>
	<th width="" align="right">Destination Emails</th>
	<td><input type="text" name="f_destination_emails" value="{'f_destination_emails'|set_value}" class="span7" ></td>
</tr>
<tr>
	<th width="" align="right">Fields</th>
	<td>
		<div id="fields_info"></div>
		<a href="#" id="add_new_field">Add new Field</a>

		<div class="spacer10"></div>
<pre>
{literal}
Key : Pertanyaan yang akan tampil di form
Type : Type jenis input
Reqex : Reqular expression untuk validasi input
	Alpha : ^[a-zA-Z]*$
	Numeric : ^[0-9]*$
	Alpha Numeric : ^[a-zA-Z0-9]*$
	Email : ^\w[-._\w]*\w@\w[-._\w]*\w\.\w{2,3}$
	Atau anda bisa bikin regex anda sendiri
Option : Dipakai untuk tipe SELECT, RADIO, CHECKBOX untuk menampilkan nilai pilihan yang tersedia
	Dipisahkan oleh tanda pipe (|)
	Contoh : Ya | Tidak
		atau
		Managemen | Akuntansi | Finance | Komputer | Yang lain
Required : Centangkan bila field ini diperlukan
{/literal}
</pre>
	</td>
</tr>
<tr>
	<th width="" align="right">Header Text</th>
	<td><textarea name="f_header_text" class="ckeditor" height="200" >{'f_header_text'|set_value}</textarea></td>
</tr>
<tr>
	<th width="" align="right">Footer Text</th>
	<td><textarea name="f_footer_text" class="ckeditor" height="200" >{'f_footer_text'|set_value}</textarea></td>
</tr>
</table>

<div class="actions" >
	<input class="btn primary" name="add" type="submit" value="Save" />
</div>
</form>
</fieldset>
