<h2>Great Choice !</h2>
<p>
	The product you selected has been added to your basket
</p>
<div class="pull-right">
	<!--<a class="btn btn_submit" onClick="$(this).closest('.modal').modal('hide');">Continue Shopping</a> &nbsp; <a href="{site_url}checkout" class="btn btn_submit">Proceed to Checkout</a>-->
	<a class="btn btn_submit" onClick="window.location.reload();">Continue Shopping</a> &nbsp; <a href="{site_url}checkout" class="btn btn_submit">Proceed to Checkout</a>
</div>
<div class="clear"></div>
