<div style=" ">
	<div style="">

		<div style="background: #ffffff; display: block;  padding: 15px 10px;">
			<img src="{$remote_asset_url}img/gb/gb_logo1.png" >
		</div>

		<div style="padding:20px; ">
			<h3>Hello {$fullname}, Thank You For Your Registration !</h3>

			<div style="padding:10px;" > 
				The next step you to do is to click the link below to activate your account
			</div>

			<div  style="padding:5px 30px;">
				<a href="{site_url}register/activation/{$key}" class="btn btn-submit" >{site_url}register/activation/{$key}</a>
			</div>
			<br>

			<div style="margin-top: 10px;" >
				Happy Shopping,
				<br>
				Gudang Brands Team
			</div>
		</div>



		<div style="background: #000000; display: block; margin-bottom: 10px; ">

			<div class="row mainpromo" style="">
				<div class="span4" style="float:left;" >
					<img src="{$remote_asset_url}img/gb/mainpromo_invite.jpg" width="200" >
				</div>
				<div class="span4" style="float:left;" >
					<img src="{$remote_asset_url}img/gb/mainpromo_freevoucher.jpg" width="200" >
				</div>
				<div class="span4" style="float:left;" >
					<img src="{$remote_asset_url}img/gb/mainpromo_getconnected.jpg" width="200" >
				</div>
				<div style="clear: both; height: 1px;"></div>
			</div>

			<div style="padding: 10px;">

			</div>

		</div>

	</div>
</div>
