<div style=" ">
	<div style="">

		<div style="background: #ffffff; display: block;  padding: 15px 10px;">
			<img src="{$remote_asset_url}img/gb/gb_logo1.png" >
		</div>

		<div style="padding:20px; ">
			<h3>Hi {$fullname}, Thank You For Your Registration !</h3>

			<div style="padding:10px;" >
				The next step you need to do is click the link below to activate your account
			</div>

			<div  style="padding:10px 30px; background: #E2E0E0;">
				<img src="{$remote_url}register/activation_email_read/{$member.m_id}" width="0" height="0" />
				<a href="{site_url}register/activation/{$key}" class="btn btn-submit" >{site_url}register/activation/{$key}</a>
			</div>
			<br>

			<div style="margin-top: 10px;" >
				Happy Shopping,
				<br>
				Gudang Brands Team
			</div>
		</div>





	</div>
</div>
