<script type="text/javascript">
	var current_uri = '{$current_uri}';
	var mod_url = '{$mod_url}';
	var use_ajax = '{$use_ajax|default:FALSE}';
</script>
<script src="{asset_url}js/vizard/slave.js" ></script>


<ul class="breadcrumb">
	<li><a href="{$LAST_LIST}" class="cancel" >back</a></li>
	<li class="divider">»</li>
	<li>Give Voucher</li>
</ul>


<div class="index_filter_cont" >
	<div class="index_search_cont" >
		<form name="frmSearch" action="{$mod_url}member_filter" method="post">
			<input type="hidden" name="offset" value="{$offset}" />
			<input type="hidden" name="page" value="{$mod_url}send_gift_card_form/{$p_id}" />
			Search member : <input type="text" name="searchkey" value="{$searchkey}"> <input class="btn small" type="submit" value="Find">
		</form>
	</div>
</div>


{''|validation_errors}

<form enctype="multipart/form-data" name="formSubmit" id="formSubmit"  method="post" class="form-horizontal"  >
	<input type="hidden" name="current_id" value="{$data.p_id}" />
	<input type="hidden" name="ajax_action" value="{$ajax_action}" />

	<div class="use_right_sidebar">


		<div class="inner_content">

			<div class="control-group">
				<label class="control-label">Member</label>
				<div class="controls">
					{if !$members}
						<div class="alert alert-error">data not found</div>
					{else}
						<div style="overflow: auto; height: 500px; border: solid 1px #cccccc;">
							<table class="table table-striped" id="mainData" width="100%">
								<thead>
									<tr>
										<th width="20"></th>
										<th>Name</th>
										<th>Login</th>
										<th>Mobile</th>
									</tr>
								</thead>
		
								<tbody  >
									{foreach from=$members item=m name=m key=mk}
									<tr>
										<td>
											<input type="checkbox" name="m_id[]" value="{$m.m_id}">
										</td>
										<td>
											{$m.m_firstname} {$m.m_lastname}
										</td>
										<td>
											{$m.m_login}
										</td>
										<td>
											{$m.m_mobile}
										</td>
									</tr>
									{/foreach}
								</tbody>
							</table>
						</div>
						{$paging}
					{/if}
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Gift Card</label>
				<div class="controls">
					<input type="hidden" name="p_id" value="{$product.p_id}" >
					<table class="table table-form" id="mainData" width="100%">
						<tbody>
							<tr>
								<th width="150">Name</th>
								<td>{$product.p_name}</td>
							</tr>
							<tr>
								<th width="150">Nominal</th>
								<td>Rp.{$product.p_giftcard_nominal|price_format},-</td>
							</tr>
							<tr>
								<th width="150">Price</th>
								<td>Rp.{$product.p_price|price_format},-</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Options</label>
				<div class="controls">
					<table class="table table-form" id="mainData" width="100%">
						<tbody>
							<tr>
								<th width="150">Shareable</th>
								<td>
									<select name="gc_shareable" >
										<option value="No" >No</option>
										<option value="Yes" >Yes</option>
									</select>
								</td>
							</tr>
							<tr>
								<th width="150">Remark</th>
								<td>
									<textarea name="gc_remark" cols="50" rows="3"></textarea>
								</td>
							</tr> 
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>

	<div class="form-actions" align="right" >
		<input class="btn btn-primary" type="submit" value="Save" >
		<a href="{$LAST_LIST}" class="btn do_cancel">Cancel</a>
	</div>

</form>
