<div style=" ">
	<div style="">

		<div style="background: #000000; display: block;  padding: 15px 10px;">
			<img src="beta.gudangbrands.com/asset/img/gb/gb_logo.png" >
		</div>

		<div style="padding:20px; border: solid 1px #000000;">
			<h3>{$fullname} has sent you this personal invitation</h3>

			<div style="padding:10px;" >{$message}</div>

			<div>
				<a href="beta.gudangbrands.com/accept_invitation/{$key}" class="btn btn-submit" >JOIN US</a>
			</div>

			<div style="margin-top: 10px;" >
				Happy Shopping,
				<br>
				Gudangbrands.com.
			</div>
		</div>

		<div style="background: #000000; display: block; margin-bottom: 10px; padding: 10px;">
			&nbsp;
		</div>

	</div>
</div>
