<script type="text/javascript">
	var current_uri = '{$current_uri}';
	var mod_url = '{$mod_url}';
	var use_ajax = '{$use_ajax|default:FALSE}';
</script>
<script src="{asset_url}js/vizard/master.js" ></script>

<div id="addbox"></div>
<div id="editbox"></div>



<div class="index_filter_cont" >
	<div class="index_search_cont" >
		<form name="frmSearch" action="{$mod_url}search" method="post">
			<a href="{$mod_url}add/"  class="add"  >+ add new entry</a> &nbsp;&nbsp;&nbsp;
			<input type="hidden" name="pagelimit" value="{$pagelimit}" />
			<input type="hidden" name="offset" value="{$offset}" />
			<input type="hidden" name="orderby" value="{$orderby}" />
			<input type="hidden" name="ascdesc" value="{$ascdesc}" />
			<input type="hidden" name="page" value="{$mod_url}index/" />
			<input type="text" name="searchkey" value="{$searchkey}" placeholder="searchkey" class="span2"> <input class="btn small" type="submit" value="Search">
		</form>
	</div>
</div>


{if !$maindata}
	<div class="red">
		data not found
	</div>
{else}

	{$paging}
	{$paging_js}

	<table class="table table-striped" id="mainData" width="100%">
	<thead>
		<tr>
			<th width="20">Ord.</th>
			<th width="50">Image</th>
			<th><a href="javascript:doSort('bn_title');">Title</a></th>
			<!--<th>Caption</th>-->
			<th width="70">Displ. Caption</th>
			<!--<th>URL</th> -->
			<th width="50">Type</th> 
			<th width="70">Start Date</th> 
			<th width="70">End Date</th> 
			<!--<th width="80"><a href="javascript:doSort('bn_date');">Date</a></th>-->
			<th width="80"></th>
		</tr>
	</thead>

	<tbody>
		{foreach from=$maindata item=m name=m key=mk}
		<tr>
			<td>{$m.bn_order}</td>
			<td>
				{if $m.bn_image}
					<a href="{site_url}userfiles/upload/{$m.bn_image}" class="colorbox" title="{$m.bn_title}"  >
						<img src="{site_url}userfiles/upload/thumb/{$m.bn_image}" class="thumb" width="50" />
					</a>
					<br>
				{/if}
			</td>
			<td>
				<a href="{$mod_url}edit/{$m.bn_id}" class="edit" >{$m.bn_title}</a>
				<br>
				<strong>url </strong> : <br>
				{$m.bn_url|default:'--'}<br>
				<strong>caption</strong> : <br>
				{$m.bn_caption|default:'--'}
			</td>
			<!--<td>{$m.bn_caption|default:'--'}</td>-->
			<td>{$m.bn_display_caption|default:'--'}</td>
			<!--<td>{$m.bn_url|default:'--'}</td>-->
			<td>
				{$m.bn_type}
			</td>
			<td>
				{if $m.bn_type == 'Timed'}
					{if $m.bn_start_date == '0000-00-00 00:00:00'}-{else}{$m.bn_start_date}{/if}
				{/if}
			</td>
			<td>
				{if $m.bn_type == 'Timed'}
					{if $m.bn_end_date == '0000-00-00 00:00:00'}-{else}{$m.bn_end_date}{/if}
				{/if}
			</td>
			<!--<td>{$m.bn_date|date_format:'d M Y H:i:s'}</td>-->
			<td >
				<div class="btn-group">
					<a href="{$mod_url}edit/{$m.bn_id}" class="btn edit"  ><i class="icon-edit"></i></a>
					<a href="{$mod_url}delete/{$m.bn_id}" class="btn areyousure" ><i class="icon-trash"></i></a>
				</div>
			</td>

		</tr>
		{/foreach}
	</tbody>
	</table>

{/if}
