<script type="text/javascript">
	var current_uri = '{$current_uri}';
	var mod_url = '{$mod_url}';
	var use_ajax = '{$use_ajax|default:FALSE}';
</script>
<script src="{asset_url}js/vizard/master.js" ></script>

<div id="addbox"></div>
<div id="editbox"></div>

<ul class="breadcrumb">
	<li>all entries</li>
</ul>


<div class="index_filter_cont" >
	<div class="index_search_cont" >
		<form name="frmSearch" action="{$mod_url}search" method="post">
			<a href="{$mod_url}add/"  class="add"  >+ add new entry</a> &nbsp;&nbsp;&nbsp;
			<input type="hidden" name="pagelimit" value="{$pagelimit}" />
			<input type="hidden" name="offset" value="{$offset}" />
			<input type="hidden" name="orderby" value="{$orderby}" />
			<input type="hidden" name="ascdesc" value="{$ascdesc}" />
			<input type="hidden" name="page" value="{$mod_url}index/" />
			Search : <input type="text" name="searchkey" value="{$searchkey}"> <input class="btn small" type="submit" value="Find">
		</form>
	</div>
</div>


{if !$maindata}
	<div class="red">
		data not found
	</div>
{else}

	{$paging}
	{$paging_js}

	<table class="table table-striped" id="mainData" width="100%">
	<thead>
		<tr>
			<th width="50">Header</th>
			<th width="50">Square</th>
			<th width="50">Sq.Gray</th>
			<th width="50">Rect.</th>
			<th><a href="javascript:doSort('brp_name');">Name</a></th>
			<th><a href="javascript:doSort('brp_start_promo');">Start</a></th>
			<th><a href="javascript:doSort('brp_end_promo');">End</a></th>
			<th>Free Shipping</th>
			<th width="120"><a href="javascript:doSort('brp_entry');">Created</a></th>
			<th width="65"></th>
		</tr>
	</thead>

	<tbody>
		{foreach from=$maindata item=m name=m key=mk}
		<tr>
			<td>
				{if $m.brp_image_header}
					<a href="{site_url}userfiles/media/{$m.brp_image_header}" class="colorbox" title="{$m.brp_name}" rel="brp_image_header" >
						<img src="{site_url}userfiles/media/thumb/{$m.brp_image_header}" class="thumb" width="50" />
					</a>
				{/if}
			</td>
			<td>
				{if $m.brp_image_square}
					<a href="{site_url}userfiles/media/{$m.brp_image_square}" class="colorbox" title="{$m.brp_name}" rel="brp_image_square" >
						<img src="{site_url}userfiles/media/thumb/{$m.brp_image_square}" class="thumb" width="50" />
					</a>
				{/if}
			</td>
			<td>
				{if $m.brp_image_square_grayscale}
					<a href="{site_url}userfiles/media/{$m.brp_image_square_grayscale}" class="colorbox" title="{$m.brp_name}" rel="brp_image_square_grayscale" >
						<img src="{site_url}userfiles/media/thumb/{$m.brp_image_square_grayscale}" class="thumb" width="50" />
					</a>
				{/if}
			</td>
			<td>
				{if $m.brp_image_rectangle}
					<a href="{site_url}userfiles/media/{$m.brp_image_rectangle}" class="colorbox" title="{$m.brp_name}" rel="brp_image_rectangle" >
						<img src="{site_url}userfiles/media/thumb/{$m.brp_image_rectangle}" class="thumb" width="50" />
					</a>
				{/if}
			</td>
			<td>
				<a href="{$mod_url}edit/{$m.brp_id}" class="edit" >{$m.brp_name}</a>
			</td>
			<td>{$m.brp_start_promo}</td>
			<td>{$m.brp_end_promo}</td>
			<td>{$m.brp_free_shipping}</td>
			<td>{$m.brp_entry}</td>
			<td >
				{if $m.brp_status == 'Active' }
					<a href="{$mod_url}edit/{$m.brp_id}" class="btnimg edit"  ></a>

					<a href="{$mod_url}delete/{$m.brp_id}" class="btnimg delete areyousure" ></a>
				{else}
					<a href="{$mod_url}change_status/{$m.c_id}/Active">restore</a>
				{/if}
			</td>

		</tr>
		{/foreach}
	</tbody>
	</table>

{/if}
