<!--<div class="well" style="margin-left: 0px; min-height: 400px;" >-->
	<!--&nbsp;-->
	<!--<ul class="account_sidebar_list">
		<li>
			<a href="">Personal Details</a>
			<ul>
				<li><a href="{site_url}account/profile/" class="{if $mod=='profile'}active{/if}" >My Profile / Change Password</a></li>
				<li><a href="{site_url}account/address/" class="{if $mod=='address'}active{/if}" >My Address</a></li>
			</ul>
		</li>

		<li>
			<a href="">My Orders</a>
			<ul>
				<li><a href="{site_url}account/transaction/confirmation" class="{if $mod=='transaction'}active{/if}" >Confirmation</a></li>
				<li><a href="">Order History</a></li>
				<li><a href="">Cancel My Order</a></li>
			</ul>
		</li>

	</ul>-->
<!--</div>-->
