<script type="text/javascript">
	var current_uri = '{$current_uri}';
	var mod_url = '{$mod_url}';
</script>
<script src="{asset_url}js/vizard/slave.js" ></script>


<ul class="breadcrumb">
	<li><a href="{$LAST_LIST}" class=" " >back</a></li>
	<li class="divider">»</li>
	<li>edit</li>
</ul>



{''|validation_errors}

<form enctype="multipart/form-data" name=" " id=" "  method="post"  >
	<input type="hidden" name="current_id" value="{$data.ur_id}" />
	<input type="hidden" name="ajax_action" value="{$ajax_action}" />

	<div class="use_right_sidebar">
		<div class="inner_content">

			<div class="clearfix">
				<label>Name</label>
				<div class="input">
					<input type="text" name="ur_name" style="width:100%;" value="{'ur_name'|set_value|default:$data.ur_name}" >
				</div>
			</div>



		</div>
	</div>

	<div class="form-actions" align="right" >
		<input class="btn btn-primary submit" name="edit" type="submit" value="Save" />
		<a href="{$LAST_LIST}" class="btn cancel">Cancel</a>
	</div>

</form>
