<script type="text/javascript">
	var current_uri = '{$current_uri}';
	var mod_url = '{$mod_url}';
	var use_ajax = '{$use_ajax|default:FALSE}';
</script>
<script src="{asset_url}js/vizard/master.js" ></script>

<div id="addbox"></div>
<div id="editbox"></div>


<div class="index_filter_cont" >
	<div class="index_search_cont" >
		<form name="frmSearch" action="{$mod_url}search" method="post">
			<a href="{$mod_url}add/"  class="add"  >+ add new entry</a> &nbsp;&nbsp;&nbsp;
			<input type="hidden" name="pagelimit" value="{$pagelimit}" />
			<input type="hidden" name="offset" value="{$offset}" />
			<input type="hidden" name="orderby" value="{$orderby}" />
			<input type="hidden" name="ascdesc" value="{$ascdesc}" />
			<input type="hidden" name="page" value="{$mod_url}index/" />
			Search : <input type="text" name="searchkey" value="{$searchkey}"> <input class="btn small" type="submit" value="Find">
		</form>
	</div>
</div>

<style>
	td ul, td ul li {
		margin:0;
		list-style:none;
	}
	td ul {
		clear:both;
	}
	td ul li {
		float:left;
		padding:5px; border:solid 1px #cccccc;
		margin:5px;
	}
</style>


{if !$maindata}
	<div class="red">
		data not found
	</div>
{else}

	{$paging}
	{$paging_js}

	<form action="{$mod_url}update_key" method="post" >

		<table class="table table-condensed table-bordered table-striped " id="mainData" style="width:auto;">
		<thead>
			<tr>
				<th width="100" ><a href="javascript:doSort('ur_name');">Role Name</a></th>
				<!--<th ></th>-->
				<th width="80"></th>
			</tr>
		</thead>

		<tbody>
			{foreach from=$maindata name=m item=m key=mk}
				<tr>
					<td>
						{$m.ur_name}
						{$m.role_detail.urk_id}
					</td>
					<!--<td>-->
					<!--	<ul>-->
					<!--		{foreach from=$m.role_key item=mrk name=mrk key=mrkk}-->
					<!--			<li>-->
					<!--				<input type="checkbox" name="urk_id[{$m.ur_id}][]" value="{$mrk.urk_id}" {if $mrk.detail.urk_id == $mrk.urk_id}checked="checked"{/if} /> {$mrk.urk_key}-->
					<!--				<input type="hidden" name="ur_id[]" value="{$m.ur_id}" />-->
					<!---->
					<!--			</li>-->
					<!--		{/foreach}-->
					<!--	</ul>-->
					<!--</td>-->
					<td style="text-align:center;" >
						<div class="btn-group"> 
							<a href="{$mod_url}edit/{$m.ur_id}" class="btn btn-info" ><i class="icon-edit"></i></a>
							<a href="{$mod_url}delete/{$m.ur_id}" class="btn areyousure" ><i class="icon-trash"></i></a>
						</div> 
					</td>
				</tr>
			{/foreach}
		</tbody>
		</table>

		<input type="submit" class="btn" value="Update Role Key" >

	</form>

{/if}
