
 
	<div class="row">
		<div class="span4"> 
			<div class="sbdata_cont">
				<div class="sbdata_each">
					<div class="sbdata_head">
						Other {$content.cl_name} 
					</div>
					<div class="sbdata_entries">
						{if !$other_article}
							<div class="red">no data available</div>
						{else}
							<table class="borderless entries" width="100%">
								{foreach from=$other_article item=n name=n key=nk}
								<tr>
									{if $n.media.image.m_file}
									<td width="40" >
										<a href="{site_url}content/view/{$n.cl_code}/{$n.c_id}/{$n.slug}">
											<img class="thumb bordered shadow" src="{site_url}userfiles/media/thumb/{$n.media.image.m_file}" height="40" width="40" />
										</a>
									</td>
									{/if}
									 
									<td {if !$n.media.image.m_file}colspan="2"{/if} style="padding-left:5px;" >
										
										<div class="entry_title">
											<a href="{site_url}content/view/{$n.cl_code}/{$n.c_id}/{$n.c_title|make_slug}">
												{$n.c_title|truncate:'100'}
											</a>
										</div>
										<div class="entry_date" >
											{$n.c_date|date_format:'d F Y'}
										</div>
										<!--<div class="entry_brief">-->
										<!--	{$n.c_content_intro|truncate:'50'}-->
										<!--</div>-->
	
									</td>
								</tr>
								{/foreach}
							</table>
							<div style="float:right; margin:5px;">
								<a href="{site_url}content/view_list/{$ocl.cl_code}">view all ..</a>
							</div>
							<div class="clear"></div>
						{/if}
					</div>
				</div>
			</div> 
			&nbsp;
		</div>
		
		<div class="span12">
			
			 <ul class="breadcrumb" style="margin-left:-10px;">
				{foreach from=$breadcrumb name=b item=b key=bk}
				<li>
					{$b}
				</li>
				{if !$smarty.foreach.b.last}<li class="divider">»</li>{/if}
				{/foreach}
			</ul>
	 
			<div class="content_wrap"  > 
				<div class="page_content" > 
					<div class="page_title">{$content.c_title}</div>
					<div class="page_date">{$content.c_date|date_format:'d F Y'}</div>
					<div class="left23">
						{$content.c_content_full}
					</div>
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
	</div>
 
<!-- <div class="page_title">{$content.cl_name}</div>-->
<!---->
<!--        <div class="left23">-->
<!---->
<!--        	<div class="post">-->
<!---->
<!--                 <h2><a href="#">{$content.c_title}</a></h2>-->
<!--                 <div class="post_left">-->
<!--                     <div class="date_line_blog">-->
<!--                        <span class="day">{$content.c_date|date_format:'d'}</span>-->
<!--                        <span class="month">{$content.c_date|date_format:'m'}</span>-->
<!--                     </div>-->
<!--                     <div class="comm_line_blog"></div>-->
<!--                 </div>-->
<!---->
<!---->
<!--				{if $content.media.image.m_file}-->
<!--					<img src="{site_url}userfiles/media/{$content.media.image.m_file}" alt="" title="" border="0" />-->
<!--				{/if}-->
<!--                 <div class="entry">-->
<!--                    {$content.c_content_full}-->
<!--                 </div>-->
<!--             <span class="blog_cat"> by <a href="#">author</a></span></div>-->
<!--        </div>-->
 
