
<table class="table table-bordered table-striped">
	<tr>
		<th width="60"></th>
		<th width="200">name</th>
		<th>details</th>

	</tr>
	<tr>
		<td>
			<a href="{$mod_url}sendmail" class="btn">GO</a>
		</td>
		<td>
            Test Sendmail
		</td>
		<td>
			send test mail to william@ravintola.web.id
		</td>
	</tr>

	<tr>
		<td>
			<a href="{$mod_url}change_engine" class="btn">GO</a>
		</td>
		<td>
            Change Database Engine
		</td>
		<td>
			Change Database Engine from ISAM -> INNODB
		</td>
	</tr>

	<tr>
		<td>
			<a href="{$mod_url}fix_br" class="btn">GO</a>
		</td>
		<td>
            Fix BR
		</td>
		<td>
			fix brp_br_id in table brand to identical with br_id in the same table
		</td>
	</tr>

	<tr>
		<td>
			<a href="{$mod_url}member_set_polling_fb" class="btn">GO</a>
		</td>
		<td>
            Set Member polling for FB
		</td>
		<td>
			Set polling of member with fb account as Facebook
		</td>
	</tr>

</table>
