<h2>Thank You !</h2>
<p>
	The Giftcard has been added to your giftcard basket
</p>
<div class="pull-right">
	<!--<a class="btn btn_submit" onClick="$(this).closest('.modal').modal('hide');">Continue Shopping</a> &nbsp; <a href="{site_url}checkout" class="btn btn_submit">Proceed to Checkout</a>-->
	<a class="btn btn_submit" onClick="window.location.reload();">Continue Shopping</a> &nbsp;
	<a href="{site_url}checkout_giftcard" class="btn btn_submit">Checkout Your Giftcard</a>
</div>
<div class="clear"></div>
