{literal}
<script>
	function doSave(savekey){
		document.formSubmit.save_status.value = savekey;
		document.formSubmit.submit();
	}
</script>
{/literal}

<h6 id="mod_title">
	Add Content
</h6>

{if $validation->error_string}
<div class="error">
	{$validation->error_string}
</div>
{/if}
<form enctype="multipart/form-data"  name="formSubmit" method="post">

	<table cellpadding="0" cellspacing="0" border="0" >
		<tbody>
			<tr>
				<td>
					Parent
				</td>
				<td>
					{$parent.c_title}
					<input type="hidden" name="parent_id" class="span12" value="{$parent_id}" />
				</td>
			</tr>

			<tr>
				<td>
					Banner
				</td>
				<td>
					<input type="file" name="banner" size="20" />
					<div class="help-inline">help</div>

					<a href="{site_url}admin/media/uploader/content/" class="openbox" title="upload media" >upload</a>
				</td>
			</tr>

			<tr>
				<td>
					Title
				</td>
				<td>
					<input type="text" name="c_title" class="span12" value="{'c_title'|set_value}" />
					{'c_title'|form_error}
				</td>
			</tr>
			<tr>
				<td>
					Content
				</td>
				<td>
					<textarea name="c_content" class="ckeditor" >{'c_content'|set_value}</textarea>
					{'c_content'|form_error}
				</td>
			</tr>
		</tbody>
</table>

	<div class="actions" align="right">
		<input type="hidden" name="save_status" value="{'save_status'|set_value}" />
		<a href="{$LAST_LIST}" class="btn normal">cancel</a>
		<input name="save_draft" type="button" value="Save as Draft" onclick="javascript:doSave('Draft');"  class="btn info" />
		<input name="add" type="button" value="Add and Publish"  onclick="javascript:doSave('Published');"  class="btn info" />
	</div>

</form>
