
		<h5>Sidebar</h5>
		<ul>
			<li>
				<a href="{site_url}admin/content/add/">
					Add new content
				</a>
			</li>
		</ul>

		<h5>List Content</h5>
		<ul>
			<li>
				<a href="{site_url}admin/content/view_list/{$parent_id}/Any/{$default_pagelimit}/1/">
					All
				</a>
			</li>
			<li>
				<a href="{site_url}admin/content/view_list/{$parent_id}/Published/{$default_pagelimit}/1/">
					Published
				</a>
			</li>
			<li><a href="{site_url}admin/content_folder">Content Folders</a></li>
			<li><a href="{site_url}admin/content_tag">Content Tag</a></li>
			<li><a href="{site_url}admin/content_approval">Content Approval</a></li>
			<li><a href="{site_url}admin/form">Form</a></li>
			<li><a href="{site_url}admin/menu">Menu</a></li>
		</ul>

		<h5>User</h5>
		<ul>
			<li><a href="{site_url}admin/user">Manage User</a></li>
			<li><a href="{site_url}admin/user/user_role">User Roles</a></li>
			<li><a href="{site_url}admin/content_approval">Content Approval</a></li>
			<li><a href="{site_url}admin/form">Form</a></li>
			<li><a href="{site_url}admin/menu">Menu</a></li>
		</ul>

		<h5>Config</h5>
		<ul>
			<li><a href="{site_url}admin/config">Site Configuration</a></li>
		</ul>
