<form name="formAddAddress" id="formAddAddress" action="" method="post" class="form-horizontal">
	<fieldset>
		<legend style="margin-bottom: 10px;" >Edit Payment Detail</legend>

		{''|validation_errors}<br>

		<div class="control-group">
			<label class="control-label" for="date">Order #</label>
			<div class="controls" style="padding-top: 5px;" >
				{$transaction.trans_id}
			</div>
		</div>

		<!--<div class="control-group">
			<label class="control-label" for="date" >Payment Due</label>
			<div class="controls">
				Rp. <input type="text" value="{$transaction.trans_payout|price_format}" disabled="disabled" style="width: 100px;" >
			</div>
		</div>-->

		<div class="" style="border-bottom: solid 1px #dddddd; margin:10px;" ></div>

		<div class="control-group">
			<label class="control-label" for="method">Payment Method</label>
			<div class="controls">
				<select name="payment_method" id="payment_method" style="width: auto;"  >
					<option value="" >-select payment method-</option>
					{foreach from=$payment_method name=pm item=pm}
						<option value="{$pm.pm_id}"  {if $trans_confirmation.pm_id==$pm.pm_id}selected="selected"{/if}>{$pm.pm_name}</option>
					{/foreach}
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="province">Transfer To</label>
			<div class="controls">
				<select name="bank_account" id="bank_account" style="width: auto;"  >
					<option value="" >-select account-</option>
					{foreach from=$bank_account name=ba item=ba}
						<option value="{$ba.ba_id}"  {if $trans_confirmation.ba_id==$ba.ba_id}selected="selected"{/if}>{$ba.ba_bank_name}, {$ba.ba_name}. account no. {$ba.ba_account_no} a/n {$ba.ba_account_holder}</option>
					{/foreach}
				</select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="date">Payment Date</label>
			<div class="controls">
				<input type="text" id="date" name="date" value="{'date'|set_value|default:$trans_confirmation.transc_date|date_format:'Y-m-d'}" class="datepicker"  style="width: 100px;"   >
					<div class="help-block">Tanggal transfer sesuai tertera pada bukti transfer</div>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="method">Bank</label>
			<div class="controls">
				<select name="bank_name" id="bank_name" style="width: auto;"  >
					<option value="" >-select bank-</option>
					{foreach from=$banks name=b item=b}
						<option value="{$b.bank_name}" {if $b.bank_name == $trans_confirmation.transc_from_bank_name}selected="selected"{/if} >{$b.bank_name}</option>
					{/foreach}
					<option value="Other"{if $trans_confirmation.transc_from_bank_name=="Other"}selected="selected"{/if} >Other</option>
				</select>
				<input type="text" name="bank_name_alt" id="bank_name_alt" placeholder="bank name" style="display: none;" value="{$trans_confirmation.transc_from_bank_name_alt}" >
				<script>
					{literal}
						$(document).ready(function() {
							$("#bank_name").change(function(e) {
								 var selected = $('#bank_name option:selected').val();
								if( selected == "Other" ) {
									$("#bank_name_alt").show();
								} else {
									$("#bank_name_alt").hide();
								}
							});
							$("#bank_name").trigger("change");
						})
					{/literal}
				</script>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="date">Account No.</label>
			<div class="controls">
				<input type="text" id="bank_account_no" name="bank_account_no" value="{'bank_account_no'|set_value|default:$trans_confirmation.transc_from_account_no}"  >
					<div class="help-block">Nomor rekening pengirim</div>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="date">Account Name</label>
			<div class="controls">
				<input type="text" id="bank_account_holder" name="bank_account_holder" value="{'bank_account_holder'|set_value|default:$trans_confirmation.transc_from_account_holder}"  >
					<div class="help-block">Nama pemilik rekening</div>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="paid_amount">Paid Amount</label>
			<div class="controls">
				Rp. <input type="text" style="width: 100px;"  id="paid_amount" name="paid_amount" value="{'paid_amount'|set_value|default:$trans_confirmation.transc_paid_amount}" >
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-primary btn_submit" value="Submit">
				<a href="{'list'|get_bread}" class="btn">Cancel</a>
			</div>
		</div>

	</fieldset>
</form>
