<script type="text/javascript">
	var current_uri = '{$current_uri}';
	var mod_url = '{$mod_url}';
	var use_ajax = '{$use_ajax|default:FALSE}';
</script>
<script src="{asset_url}js/vizard/slave.js" ></script>


<ul class="breadcrumb">
	<li><a href="{$LAST_LIST}" class="cancel" >back</a></li>
	<li class="divider">»</li>
	<li>edit</li>
</ul>



{''|validation_errors}

<form enctype="multipart/form-data" name="formSubmit" id="formSubmit"  method="post" class="form-horizontal"  >
	<input type="hidden" name="current_id" value="{$data.psc_id}" />
	<input type="hidden" name="ajax_action" value="{$ajax_action}" />

			<div class="control-group">
				<label class="control-label">Category</label>
				<div class="controls">
					<select name="pc_id">
						{foreach from=$product_category name=pc item=pc}
							<option value="{$pc.pc_id}" {if $pc.pc_id == $data.pc_id}selected="selected"{/if} >{$pc.pc_name}</option>
						{/foreach}
					</select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">SubCategory Name</label>
				<div class="controls">
					<input type="text" name="psc_name" class="span5" value="{'psc_name'|set_value|default:$data.psc_name}" >
				</div>
			</div>

	<div class="form-actions" align="right" >
		<input class="btn btn-primary" type="submit" value="Save" >
		<a href="{$LAST_LIST}" class="btn do_cancel">Cancel</a>
	</div>

</form>
