<div class="spacer20"></div>
<h2>Change Password</h2>


<div class="well" style="text-align: center;" >
<form name="formForgotPassword" id="formForgotPassword" action="" method="post" class="form-horizontal">

	{''|validation_errors}
	<div class="spacer10"></div>

	New Password: <input type="password" id="password" name="password" value="{'password'|set_value}">
	<div class="spacer10"></div>
	Confirm Password: <input type="password" id="password_confirmation" name="password_confirmation" value="{'password_confirmation'|set_value}">
	<div class="spacer10"></div>
	<input type="submit" class="btn btn-submit" value="Submit">
	</fieldset>
</form>
</div>
