<div style=" ">
	<div style="">

		<div style="background: #ffffff; display: block;  padding: 15px 10px;">
			<img src="{$remote_asset_url}img/gb/gb_logo1.png" >
		</div>

		<div style="padding:20px; ">
			<h3>Hi {$fullname}, You have requested a password change</h3>

			<div style="padding:10px;" >
				Click the link below to change your password
			</div>

			<div  style="padding:10px 30px; background: #E2E0E0;">
				<a href="{site_url}auth/change_password/{$m_login_encoded}/{$key}" class="btn btn-submit" target="_blank" >Change Password</a>
			</div>
			<br>

			<div style="margin-top: 10px;" >
				Happy Shopping,
				<br>
				Gudang Brands Team
			</div>
		</div>


	</div>
</div>
