<!--content-->
<tr>
	<td class="content_bgr_center"><table class="content_bgr_top">
		<tr>
			<td class="content_bgr_bottom t"><table class="indent_content">
				<tr>
					<td class="main_heit_content"><table style="height:100%;">
						<tr>

							<!--left-->
							<td class="left_col"><table class="left_col_table">
								<!--top_box-->
								<tr><td class="title_top" style="padding: 20px 0px 0px 20px"><b>User Login</b></td></tr>
								<tr>
									<td class="box_bottom"><table>
										<tr><td class="indent">
										
										<h1>Sorry you have no priviledge to access this page</h1>

										</td></tr>
									</table></td>
								</tr>
								<tr><td style="height:23px;"></td></tr>
							</table></td>
							<!--rigth-->
							<td class="separate"><img alt="" src="{asset_url}img/spacer.gif" width="3" height="1"></td>
							<td class="right_col"><table class="right_col_table">
								<tr><td class="title" style="padding: 20px 0px 0px 20px"><b></b></td></tr>
								<tr>

									<td class="t bgr_y"><table style="margin:0 0 0 5px; width:226px;">
										<tr><td class="indent">
										
										&nbsp;
										
										</td></tr>
									</table></td>
								</tr>
								<tr><td><img alt="" src="{asset_url}img/right_col_cont_bot_con.gif"></td></tr>
							</table></td>

						</tr>
					</table></td>
				</tr>
			</table></td>
		</tr>
	</table></td>
</tr>

