
<script>
	var waiting = false;

	$(document).ready(function() {

	});
</script>

<div class="spacer10"></div>
<div class="crumbs">
   {foreach from=$breadcrumb name=b item=b}
	   {$b}&nbsp;<img src="{asset_url}img/gb/arrow_divider.png" />&nbsp;
   {/foreach}
</div>
<div class="horz_line"></div>

<div class="page_box_wrap">

	<div class="page_wrap">
		<div class="page_container">

			<!--<div class="page_title">{$form.f_name}</div>-->
			<div class="page_content">

				<!--<div class="validation_error" id="validation_error"></div>-->

				<form name="form_form" id="form_form" method="post" class="form-horizontal">

					<fieldset>
						<legend>{$inquiry_type.inqt_name}</legend>
						<div class="form_header" style="margin-bottom:20px;" >{$inquiry_type.inqt_header_text}</div>
						{if ''|validation_errors}
							<div class="alert alert-error">{''|validation_errors}</div>
						{/if}
						<div class="spacer10"></div>
						
						

						<div class="control-group">
							<label class="control-label">Name</label>
							<div class="controls">
								<input type="text" size="20" name="sender_name" value="{'sender_name'|set_value}" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Email</label>
							<div class="controls">
								<input type="text" size="20" name="email" value="{'email'|set_value}" />
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">Subject</label>
							<div class="controls">
								<input type="text" style="width:400px;" name="subject" value="{'subject'|set_value}" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Inquiry</label>
							<div class="controls">
								<textarea name="content" id="content" cols="40" rows="7"  style="width:100%;">{'content'|set_value}</textarea>
							</div>
						</div>


						<div class="control-group">
							<label class="control-label">Captcha</label>
							<div class="controls">
								{$captcha.image}
								<div class="spacer10"></div>
								enter above text: <br> <input type="text" size="20" name="captcha_answer" value="" />
								{'captcha_answer'|form_error}
							</div>
						</div>

						<div class="form_footer" style="margin:10px 0;" >{$inquiry_type.inqt_footer_text}</div>

						<div class="form-actions">
							<input type="submit" value="Submit Form" class="btn btn-primary" >
						</div>

					</fieldset>
				</form>

			</div>
		</div>
	</div>
</div>
