<script type="text/javascript">
	var current_uri = '{$current_uri}';
	var mod_url = '{$mod_url}';
	var use_ajax = '{$use_ajax|default:FALSE}';
</script>

<div id="addbox"></div>
<div id="editbox"></div>

<ul class="breadcrumb">
	<li>all entries</li>
</ul>

<ul class="module-links">
	<li><a href="{$mod_url}add/"  class="add"  >+ add new entry</a></li>
</ul>

<div class="index_filter_cont" >
	<div class="index_search_cont" >
		<form name="frmSearch" action="{$mod_url}search" method="post"> 
			<input type="hidden" name="pagelimit" value="{$pagelimit}" />
			<input type="hidden" name="offset" value="{$offset}" />
			<input type="hidden" name="orderby" value="{$orderby}" />
			<input type="hidden" name="ascdesc" value="{$ascdesc}" />
			<input type="hidden" name="page" value="{$mod_url}index/" />
			Search : <input type="text" name="searchkey" value="{$searchkey}"> <input class="btn small" type="submit" value="Find">
		</form>
	</div>
</div>


{if !$maindata}
	<div class="red">
		data not found
	</div>
{else}


	<table class="table table-striped" id="mainData" width="100%">
	<thead>
		<tr>
			<th width="80" >Img</th>
			<th><a href="javascript:doSort('ba_bank_name');">Bank</a></th>
			<th><a href="javascript:doSort('ba_name');">Cabang</a></th>
			<th><a href="javascript:doSort('ba_account_no');">Account No</a></th>
			<th><a href="javascript:doSort('ba_account_holder');">Account Holder</a></th>
			<th width="80"><a href="javascript:doSort('ba_entry');">Created</a></th>
			<th width="150"></th>
		</tr>
	</thead>

	<tbody>
		{foreach from=$maindata item=m name=m key=mk}
		<tr>
			<td>
				{if $m.ba_image}
					<img src="{site_url}userfiles/upload/thumb/{$m.ba_image}" width="80" >
				{/if}
			</td>
			<td>
				{$m.ba_bank_name}
			</td>
			<td>
				{$m.ba_name}
			</td>
			<td>{$m.ba_account_no}</td>
			<td>{$m.ba_account_holder}</td>
			<td>{$m.ba_entry}</td>
			<td style="text-align: right;" >
				{if $m.ba_status == 'Active' }
					<a href="{$mod_url}edit/{$m.ba_id}" class="btn edit" title="Edit"  ><i class="icon-edit"></i></a>
					<a href="{$mod_url}delete/{$m.ba_id}" class="btn delete areyousure" title="Delete" ><i class="icon-trash"></i></a>
				{else}
					<a href="{$mod_url}change_status/{$m.ba_id}/Active">restore</a>
				{/if}
			</td>

		</tr>
		{/foreach}
	</tbody>
	</table>

	{$paging}
	{$paging_js}


{/if}
