<div style=" ">
	<div style="">

		<div style="background: #ffffff; display: block;  padding: 15px 10px;">
			<img src="{$remote_asset_url}img/gb/gb_logo1.png" >
		</div>

		<div style="padding:20px; ">
			<h3>{$fullname} has sent you this personal invitation</h3>

			<div style="padding:10px;" >{$message}</div>

			<div style="padding:10px; margin-top:10px;" >Click links</div>

			<div  style="padding:10px 30px; background: #E2E0E0;">
				<a href="{$remote_url}register/by_invitation/{$key}" class="btn btn-submit" >{$remote_url}register/by_invitation/{$key}</a>
			</div>
			<br>

			<div style="margin-top: 10px;" >
				Happy Shopping,
				<br>
				Gudang Brands Team
				<img src="{$remote_url}invite/mark_as_read/{$invt_id}" width="1" height="1" style="background: #ffffff;" />
			</div>
		</div>

	</div>
</div>
